{% block sidebar %}



    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header">About Us</h5>
            <div class="card-body">
                <p class="card-text"> This awesome blog is made with our Favourite full stack Framework Django,
                    follow up the 
                    [6:56 PM]
                    What will Happen
                    ￼
                    Elric — 11/17/2023 6:57 PM
                    ￼
                    ￼
                    Debarshee Chakraborty — 11/17/2023 6:59 PM
                    @Rohan Mitra admin kokhon holi??
                    ￼
                    Rohan Mitra — 11/17/2023 7:01 PM
                    With great power comes great responsibility
                    ￼
                    @Rohan Mitra
                    With great power comes great responsibility
                    ￼
                    Debarshee Chakraborty — 11/17/2023 7:01 PM
                    F Responsibility .... Treat De....
                    ￼
                    Rohan Mitra — 11/17/2023 7:02 PM
                    Ayo sure December e
                    ￼
                    @Rohan Mitra
                    Ayo sure December e
                    ￼
                    Debarshee Chakraborty — 11/17/2023 7:03 PM
                    Nice
                    [7:05 PM]
                    @CosmicAlien bhai koto VS Code khelbi??￼￼
                    ￼
                    @Debarshee Chakraborty
                    @CosmicAlien bhai koto VS Code khelbi??￼￼
                    ￼
                    CosmicAlien — 11/17/2023 7:10 PM
                    areeeeey areeey￼
                    ￼
                    1
                    [7:10 PM]
                    tui toh pokemon trainer hoye jacchish XD
                    ￼
                    1
                    ￼
                    @CosmicAlien
                    tui toh pokemon trainer hoye jacchish XD
                    ￼
                    Debarshee Chakraborty — 11/17/2023 7:11 PM
                    ￼
                    @Debarshee Chakraborty
                    Click to see attachment
                    ￼
                    CosmicAlien — 11/17/2023 7:11 PM
                    ￼
                    @CosmicAlien
                    Click to see attachment
                    ￼
                    Debarshee Chakraborty — 11/17/2023 7:11 PM
                    ￼
                    1
                    November 18, 2023
                    ￼
                    Nabajit — 11/18/2023 4:16 PM
                    Okey let's have some debate share your openion guys what do you think ￼
                    ￼
                    [4:17 PM]
                    My pick is 2011 with Yuvraaj Singh in his legend all-round form and Gambhir stabilizing the top
                    ￼
                    Soumyajit — 11/18/2023 5:36 PM
                    2011 always ❤
                    ￼
                    @Nabajit
                    Okey let's have some debate share your openion guys what do you think ￼
                    ￼
                    Elric — 11/18/2023 5:51 PM
                    Ofc 2011 ￼
                    ￼
                    @Soumyajit
                    2011 always ❤
                    ￼
                    Dark Shadow — 11/18/2023 6:48 PM
                    Dada, codefusion er certificate ta ki MAR points er jonno usable !? ... Hole kon activity er under a porbe bolte parbe !?￼
                    ￼
                    @Dark Shadow
                    Dada, codefusion er certificate ta ki MAR points er jonno usable !? ... Hole kon activity er under a porbe bolte parbe !?￼
                    ￼
                    Soumyajit — 11/18/2023 6:49 PM
                    We can't assure if it is acceptable or not by the colleges, you can try. 
                    Try it under "Participant"
                    ￼
                    @Soumyajit
                    We can't assure if it is acceptable or not by the colleges, you can try. Try it under "Participant"
                    ￼
                    Dark Shadow — 11/18/2023 6:49 PM
                    Okay dada !!
                    Thank you ￼
                    ￼
                    1
                    November 19, 2023
                    ￼
                    Soumyajit — 11/19/2023 10:27 AM
                    Sab lok match dekhenge na? ￼
                    ￼
                    2
                    November 21, 2023
                    ￼
                    Debarshee Chakraborty — 11/21/2023 2:35 PM
                    BHAI AJJ KHALA ACHE... KARA KARA DEKHBI???
                    ￼
                    1
                    ￼
                    @Debarshee Chakraborty
                    BHAI AJJ KHALA ACHE... KARA KARA DEKHBI???
                    ￼
                    Soumyajit — 11/21/2023 3:43 PM
                    sobai ￼
                    ￼
                    Soumyajit — 11/21/2023 3:57 PM
                    Sablok support karna zaroor ￼ ￼ ￼ @here (edited)
                    ￼
                    ￼
                    Elric — 11/21/2023 8:07 PM
                    Who's excited ￼ for this match ?
                    ￼
                    ￼
                    2
                    ￼
                    @Elric
                    Who's excited ￼ for this match ?
                    ￼
                    Soumyajit — 11/21/2023 10:35 PM
                    everyone ￼
                    ￼
                    1
                    November 23, 2023
                    ￼
                    Elric — 11/23/2023 8:19 AM
                    @Soumyajit da Discord username e ki purono naam ta likhbo(with #tag) ? (edited)
                    ￼
                    @Elric
                    @Soumyajit da Discord username e ki purono naam ta likhbo(with #tag) ? (edited)
                    ￼
                    Soumyajit — 11/23/2023 8:20 AM
                    yes with #tag
                    ￼
                    @Soumyajit
                    yes with #tag
                    ￼
                    Elric — 11/23/2023 8:21 AM
                    Mane jeta originally known as ota ?
                    ￼
                    Soumyajit — 11/23/2023 8:21 AM
                    haha
                    [8:21 AM]
                    ota
                    ￼
                    Elric — 11/23/2023 8:22 AM
                    ￼
                    ￼
                    1
                    December 11, 2023
                    ￼
                    AniGame
                    BOT
                     — 12/11/2023 1:35 PM
                    ￼
                    tony_huang522
                    What's this?
                    A wild anime card appears!
                    ￼
                    ￼
                    Click on the claim button first to claim this card!
                    ￼
                    BOT
                    AniGame
                    Click to see attachment
                    ￼
                    AniGame
                    BOT
                     — 12/11/2023 1:36 PM
                    Successfully claimed by elric648 ￼
                    Common Fairy King Harlequin has been added to Elric's collection!
                    December 17, 2023
                    ￼
                    😊gg — 12/17/2023 4:00 PM
                    hello
                    December 27, 2023
                    ￼
                    Eptox(Krit);) — 12/27/2023 8:02 PM
                    heyyyyyyyyyyyyy guys
                    December 28, 2023
                    ￼
                    Krover । Mentor । Nexabyte-org — 12/28/2023 8:00 AM
                    Hey guyzzz krover here
                    December 29, 2023
                    ￼
                    Berner — 12/29/2023 9:39 PM
                    @Berner ⁠🎃・resourcians-723 hello everyone I am Sohan Kumar Modak new member of this community hope to learn new experience with all of you
                    December 30, 2023
                    ￼
                    Towfiq Mondal — 12/30/2023 3:01 PM
                    Hello guys Towfiq here
                    ￼
                    AniGame
                    BOT
                     — 12/30/2023 3:01 PM
                    ￼
                    <DX_Sitreyn>
                    What's this?
                    A wild anime card appears!
                    ￼
                    ￼
                    Click on the claim button first to claim this card!
                    ￼
                    shu chan — 12/30/2023 3:03 PM
                    hello , shubhrajyoti (satan)  here
                    December 31, 2023
                    ￼
                    Anushka saxena — 12/31/2023 11:46 AM
                    where can i find #SELF-ROLES (edited)
                    ￼
                    shu chan — 12/31/2023 4:52 PM
                    roles? like in admin or co admin?
                    January 7, 2024
                    ￼
                    Soumyajit — 01/07/2024 11:38 PM
                    Hey @everyone please check the ⁠🎃・announcement
                    ￼
                    1
                    ￼
                    Message #🎃・chit-chats
                    ﻿
                    ￼
                    ￼
                     
                    ￼
                    ￼
                    ￼
                    ￼
                    ￼
                    ￼
                    Ctrl+M
                    
    </div>

{% endblock sidebar %}